{% extends 'shopapp/base.html' %}
{% block title %}
    Products list
{% endblock %}


{% block body %}
    <h3>Products:</h3>
    {% if products %}
        <div>
            {% for product in products %}
                <div>
                <p>Name: {{ product.name }}</p>
                <p>Price: {{ product.price }}</p>
                <p>Discount: {% firstof product.discount "no discount" %}</p>
                </div>
        {% endfor %}
        </div>
    {% else %}
        <h4>No Products yet</h4>
    {% endif %} 
{% endblock %}