{% extends "blog/base2.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <h1>{{ title }}</h1>

    <div>

        <form action="" method="POST">
            {% csrf_token %}
            {#            {{ form.as_p }}#}
            <div class="row">
                <div class="col-4">
                    {{ form.title|as_crispy_field }}
                </div>
                <div class="col-4">
                    {{ form.author|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    {{ form.body|as_crispy_field }}
                </div>
            </div>
            {{ form.media }}
            <p>
                <button type="submit">Сохранить</button>
            </p>
            <p>
                <button type="button" onclick="window.history.back();">Отмена</button>
            </p>
        </form>


    </div>
{% endblock %}
