{% load static %}

<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"#}
{#          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">#}
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"#}
{#            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"#}
{#            crossorigin="anonymous"></script>#}
</head>
<body>

<div id="content">
    {% block content %}
    {% endblock %}
</div>
<div id="sidebar">
    <h2>My blog</h2>
    <p>This is my blog.</p>
    {% if request.user.is_authenticated %}
        Hello {{ request.user.first_name|default:request.user.username }},
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">logout</button>
        </form>
    {% else %}
        <a href="{% url "login" %}">Log-in</a>
    {% endif %}
    {% if request.path != '/blog/' %}
        <p><a href="{% url 'post_list' %}">На главную</a></p>
    {% endif %}
    {% if request.path != '/blog/addpost/' and request.user.is_authenticated%}
        <p><a href="{% url 'add_post' %}">Добавить пост</a></p>
    {% endif %}
</div>

</body>
</html>
