{% load static %}
<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>
<body>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<div id="sidebar">
    <h2>My blog</h2>
    <p>This is my blog.</p>
</div>
<div>
    {% if request.user.is_authenticated %}
        Hello {{ request.user.first_name|default:request.user.username }},
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">logout</button>
        </form>
    {% else %}
        <a href="{% url "login" %}">Log-in</a>
    {% endif %}
</div>
</body>
</html>
